<h1>Restaurants</h1>
<table class="table table-hover">
   <thead>
      <style>
  table {width: 100%;}
</style>
    <tr>
     <th scope="col">Name</th> 
     <th scope="col">Address</th> 
     <th scope="col">Phone</th> 
     <th scope="col">Website</th> 
    </tr>
   </thead>
  <tbody>
     <% @restaurants.each do |restaurant| %>
  <tr>
    <style>
  th, td {width: 10%;}
</style>
    <td><%= restaurant.name %><td> 
    <td><%= restaurant.address %><td> 
    <td><%= restaurant.phone %><td> 
    <td><%= restaurant.website %><td> 
    <td><%= link_to "Show", restaurant, class: "btn btn-link" %> |
    <td><%= link_to "Edit", edit_restaurant_path(restaurant), class: "btn btn-link" %> |
    <td><%= link_to "Delete", restaurant, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
  <%end%>
  </tr>
</tbody>
</table>
  <%= link_to "New restaurant",
new_restaurant_path, class: "btn btn-link" %>


